.header {
    display: flex;
    height: 60px;
    border-bottom: 5px solid #0e793a;
    background-color: #58D68D;
    width: 100vw;
}

.header>div {
    padding: 12px;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: beige;
}

.header__logo>img {
    height: 100%;
    object-fit: contain;
}

.header__logo>span {
    color: #fafafa;
    font-size: 20px;
    font-weight: 500;
    margin-left: 16px;
}

.header__searchContainer {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px;
}

.header__searchBar {
    width: 45%;
    height: 120%;
    border-radius: 6px;
    background-color: #43b372;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.MuiSvgIcon-root {
    color:#1fb95f;
}

.header__searchBar>input {
    flex: 1;
    height: 60%;
    font-size: 16px;
    color: lightgray;
    background: none;
    border: none;
    margin-left: 12px;
}

.header__searchBar>input:focus {
    outline: none;
    color: black;
}

.header__icons {
    display: flex;
    align-items: center;
    margin-right: -30px;
}

.header__icons .MuiSvgIcon-root {
    font-size: 28px;
    color: #ffffff;
    margin: 4px;
}

.header__icons>span{
    margin-right: 20px;
}

.header__icons>img{
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
    margin-left: 5px;
}